{% for comment in task.comments|reverse %}
<div class="comment mb-3">
    <div>
        {% set icon_mapping = {
        CommentType.error: "bi bi-exclamation-circle-fill text-danger",
        CommentType.comment: "bi bi-chat-dots",
        CommentType.status_change: "bi bi-arrow-left-right",
        CommentType.date_change: "bi bi-calendar",
        CommentType.user_change: "ri-user-shared-line",
        CommentType.notified: "bi bi-info-square",
        CommentType.notify_sent: "bi bi-envelope"
        } %}
        <i class="{{ icon_mapping[comment.type] }}"></i>

        <small class="utc-time" data-utc-time="{{ comment.time_updated.isoformat() }}">{{
            comment.time_updated.strftime('%d.%m.%y %H:%M') }}</small>

        {% if comment.user %}
        <strong data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{ comment.user.position }}">
            {{ comment.user.short_name }}
        </strong>
        {% if comment.author_roles %}
        <small>({{ comment.author_roles|join(', ') }})</small>
        {% endif %}
        {% endif %}

        <small>
            ::
            {% if comment.type == CommentType.status_change %}
            Статус "{{ Statuses[comment.previous_status].value }}" <i class="bi bi-arrow-right"/></i> "{{
            Statuses[comment.new_status].value }}"
            {% elif comment.type == CommentType.date_change %}
            Срок до "{{ comment.old_date.strftime('%d.%m.%Y') }}" <i class="bi bi-arrow-right"/></i> "{{
            comment.new_date.strftime('%d.%m.%Y') }}"
            ({% set diff = (comment.new_date - comment.old_date).days %}{% if diff > 0 %}+{% endif %}{{ diff }} дн.)
            {% elif comment.type == CommentType.user_change %}
            {{ "Исполнитель" if comment.extra_data['role'] == 'executor' else "Руководитель" }}
            "<span data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="{{ comment.extra_data['old_user']['position'] }}">{{ comment.extra_data['old_user']['name'] }}</span>"
            <i class="bi bi-arrow-right"/></i>
            "<span data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="{{ comment.extra_data['new_user']['position'] }}">{{ comment.extra_data['new_user']['name'] }}</span>"
            {% else %}
            {{ comment.type.value }}
            {% endif %}
        </small>
    </div>
    <div style="margin-left:20px">

        {% if comment.content %}
        <span class="{{ 'text-danger' if comment.type == CommentType.error else '' }}">
        {{ comment.content | replace('\n', '<br>') | safe }}
        </span>
        {% endif %}


        {% if comment.documents %}
        <div class="documents">
            <div class="d-flex flex-column">
                {% for document in comment.documents %}
                <div class="document-item">
                    {% if document.deleted %}
                    <i class="bi bi-x-octagon text-danger"></i>
                    {% endif %}
                    {% if document.title.endswith('.pdf') %}
                    <i class="bi bi-file-earmark-pdf"></i>
                    {% elif document.title.endswith('.doc') or document.title.endswith('.docx') %}
                    <i class="bi bi-file-earmark-word"></i>
                    {% elif document.title.endswith('.xls') or document.title.endswith('.xlsx') %}
                    <i class="bi bi-file-earmark-excel"></i>
                    {% elif document.title.endswith('.ppt') or document.title.endswith('.pptx') %}
                    <i class="bi bi-file-earmark-ppt"></i>
                    {% elif document.title.endswith('.jpg') or document.title.endswith('.jpeg') or
                    document.title.endswith('.png') %}
                    <i class="bi bi-file-earmark-image"></i>
                    {% else %}
                    <i class="bi bi-file-earmark"></i>
                    {% endif %}
                    {% if document.deleted %}
                    <span class="text-secondary">{{ document.title }}</span>
                    {% else %}
                    <a href="/documents/{{ document.uuid }}" target="_blank">{{ document.title }}</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
