{% extends "blank.html" %}

{% block content %}
<style>
    .sortable-header {
        white-space: nowrap;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="d-flex justify-content-end mt-3">
            <a href="{{ url_for('export_tasks_to_excel') }}" class="btn btn-success mb-2">
                <i class="bi bi-file-earmark-excel-fill"></i> Скачать в XLSX
            </a>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% set tabs = {
                'all': {'name': 'Все', 'count': total_all},
                'active': {'name': 'Активные', 'count': total_active},
                'completed': {'name': 'Завершенные', 'count': total_completed},
                'important': {'name': 'Важные', 'count': total_important}
            } %}
            {% for tab, data in tabs.items() %}
            <li class="nav-item" role="presentation">
                <a href="?status_filter={{ tab }}&page=1&page_size={{ page_size }}"
                   class="nav-link {% if status_filter == tab %}active{% endif %}" id="{{ tab }}-tab" role="tab">
                    {{ data.name }} ({{ data.count }})
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="card">
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="all-tab">
                        <table id="tasksTable" class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                {% for column, display_name in {
                                'id': 'ID',
                                'time_updated': 'Дата изменения',
                                'description': 'Описание',
                                'task_type_id': 'Тип',
                                'object_id': 'Объект',
                                'supplier_id': 'Постановщик',
                                'supervisor_id': 'Руководитель',
                                'executor_id': 'Исполнитель',
                                'status': 'Статус'
                                }.items() %}
                                <th>
                                    <a href="?status_filter={{ status_filter }}&sort_column={{ column }}&sort_order={% if sort_column == column and sort_order == 'asc' %}desc{% else %}asc{% endif %}&page={{ page }}&page_size={{ page_size }}" class="sortable-header">
                                        {% if sort_column == column %}
                                        {% if sort_order == 'asc' %}
                                        {{ display_name }}<i class="bi bi-arrow-up"></i>
                                        {% else %}
                                        {{ display_name }}<i class="bi bi-arrow-down"></i>
                                        {% endif %}
                                        {% else %}{{ display_name }}
                                        {% endif %}
                                    </a>
                                </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
                            <tr onclick="window.location.href='{{ url_for('view_task', task_id=task.id) }}'"
                                style="cursor:pointer;"
                                class="{% if task.is_active %} {% if task.days_remain < 0 %}table-danger{% elif task.days_remain <= 3 %}table-warning{% endif %}{% endif %}">
                                <td>{% if task.important %}
                                    <i class="bi bi-exclamation-lg text-danger"></i>
                                    {% endif %}
                                </td>
                                <td>{{ task.id }}</td>
                                <td class="utc-time" data-utc-time="{{ task.time_updated.isoformat() }}">
                                    {{ task.time_updated.strftime('%d.%m.%y %H:%M') }}
                                </td>
                                <td>{{ task.description }}</td>
                                <td>{{ task.task_type.name }}</td>
                                <td>{{ task.object.name }}</td>
                                <td>{{ task.supplier.name }}</td>
                                <td>{{ task.supervisor.name }}</td>
                                <td>{{ task.executor.name }}</td>
                                <td>{{ task.status.value }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav>
    <ul class="pagination">
        {% if page > 1 %}
        <li class="page-item">
            <a class="page-link"
               href="?status_filter={{ status_filter }}&sort_column={{ sort_column }}&sort_order={{ sort_order }}&page={{ page - 1 }}&page_size={{ page_size }}">Previous</a>
        </li>
        {% endif %}
        {% for p in range(1, (total + page_size - 1) // page_size + 1) %}
        <li class="page-item {% if p == page %}active{% endif %}">
            <a class="page-link"
               href="?status_filter={{ status_filter }}&sort_column={{ sort_column }}&sort_order={{ sort_order }}&page={{ p }}&page_size={{ page_size }}">{{ p }}</a>
        </li>
        {% endfor %}
        {% if page * page_size < total %}
        <li class="page-item">
            <a class="page-link"
               href="?status_filter={{ status_filter }}&sort_column={{ sort_column }}&sort_order={{ sort_order }}&page={{ page + 1 }}&page_size={{ page_size }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
