{% extends "blank.html" %}

{% block content %}
<p class="lead">
    <strong>Постановщик:</strong> {{ task.supplier.last_name }} {{ task.supplier.first_name }} {{
    task.supplier.middle_name }} – {{ task.supplier.position }}
</p>
<div class="row">
    <!-- Основные данные по задаче -->
    <div class="col-xl-5 col-lg-6 col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ task.description }}</h5>
                <p><strong>Объект:</strong> {{ task.object.name }}</p>
                <p>
                    <strong>Статус:</strong> {{ task.status.value }}
                    {% if can_change_status %}
                    <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#statusModal">
                        <i class="bi bi-box-arrow-in-up-right"></i>
                    </a>
                    {% endif %}
                </p>
                <p>
                    <strong>Срок до (включительно):</strong>
                    {% if task.actual_plan_date == task.initial_plan_date %}
                    {{ task.actual_plan_date.strftime('%d.%m.%Y') }}
                    {% else %}
                    {{ task.actual_plan_date.strftime('%d.%m.%Y') }} (план {{
                    task.initial_plan_date.strftime('%d.%m.%Y') }} {{ ' {:+}д.'.format((task.actual_plan_date -
                    task.initial_plan_date).days) }})
                    {% endif %}
                    <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#updateDateModal">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </p>
                <p><strong>Руководитель:</strong> {{ task.supervisor.last_name }} {{ task.supervisor.first_name }} {{
                    task.supervisor.middle_name }} – {{ task.supervisor.position }}
                    {% if is_supplier %}
                    <a href="#" class="text-decoration-none" data-bs-toggle="modal"
                       data-bs-target="#updateSupervisorModal">
                        <i class="ri-user-shared-line"></i>
                    </a>
                    {% endif %}
                </p>
                <p><strong>Исполнитель:</strong> {{ task.executor.last_name }} {{ task.executor.first_name }} {{
                    task.executor.middle_name }} – {{ task.executor.position }}
                    {% if is_supplier %}
                    <a href="#" class="text-decoration-none" data-bs-toggle="modal"
                       data-bs-target="#updateExecutorModal">
                        <i class="ri-user-shared-line"></i>
                    </a>
                    {% endif %}
                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Переносы</th>
                        <th>Доработки</th>
                        <th>Уведомления</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ task.reschedule_count }}</td>
                        <td>{{ task.rework_count }}</td>
                        <td>{{ task.notification_count }}</td>
                    </tr>
                    </tbody>
                </table>
                {% if is_supplier %}
                <div class="d-flex justify-content-end">
                    {% if task.status == Statuses.CANCELED %}
                    <form action="{{ url_for('update_task_status', task_id=task.id) }}" method="post"
                          class="d-inline me-2">
                        <input type="hidden" name="new_status" value="PLANNING">
                        <button type="submit" class="btn btn-warning">Восстановить</button>
                    </form>
                    <form action="{{ url_for('duplicate_task', task_id=task.id) }}" method="get" class="d-inline">
                        <button type="submit" class="btn btn-secondary">Пересоздать</button>
                    </form>
                    {% else %}
                    <form action="{{ url_for('update_task_status', task_id=task.id) }}" method="post"
                          class="d-inline me-2">
                        <input type="hidden" name="new_status" value="CANCELED">
                        <button type="submit" class="btn btn-danger">Отменить</button>
                    </form>
                    <form action="{{ url_for('duplicate_task', task_id=task.id) }}" method="get" class="d-inline">
                        <button type="submit" class="btn btn-secondary">Отменить и пересоздать</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}

            </div>
            <div class="card-footer">
                Создано: {{ task.time_created.strftime('%d.%m.%Y') }}, обновлено: {{
                task.time_updated.strftime('%d.%m.%Y') }}
            </div>
        </div>

        <!-- Форма для добавления комментариев -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Добавить комментарий</h5>
                <form action="{{ url_for('add_comment', task_id=task.id) }}" method="post"
                      enctype="multipart/form-data">
                    <div class="mb-3">
                        <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="files" class="form-label">Прикрепить файлы</label>
                        <input class="form-control" type="file" id="files" name="files" multiple>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Список комментариев -->
    <div class="col-xl-7 col-lg-6 col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Комментарии</h5>
                {% include "task_view_comments.html" %}
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для изменения даты -->
<div class="modal fade" id="updateDateModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить срок</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateDateForm" action="{{ url_for('update_plan_date', task_id=task.id) }}" method="post">
                    <div class="mb-3">
                        <label for="new_plan_date_modal" class="form-label">Новая плановая дата</label>
                        <input type="date" class="form-control" id="new_plan_date_modal" name="new_plan_date" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary" form="updateDateForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>
{% if is_supplier %}
<!-- Модальное окно для изменения исполнителя -->
<div class="modal fade" id="updateExecutorModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить исполнителя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateExecutorForm" action="{{ url_for('update_role', task_id=task.id, role='executor') }}"
                      method="post">
                    <div class="mb-3">
                        <label for="new_executor_id" class="form-label">Новый исполнитель</label>
                        <select class="form-control" id="new_executor_id" name="new_user_id" required>
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user.last_name }} {{ user.first_name }} {{ user.middle_name
                                }} – {{ user.position }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary" form="updateExecutorForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для изменения руководителя -->
<div class="modal fade" id="updateSupervisorModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить руководителя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateSupervisorForm"
                      action="{{ url_for('update_role', task_id=task.id, role='supervisor') }}" method="post">
                    <div class="mb-3">
                        <label for="new_supervisor_id" class="form-label">Новый руководитель</label>
                        <select class="form-control" id="new_supervisor_id" name="new_user_id" required>
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user.last_name }} {{ user.first_name }} {{ user.middle_name
                                }} – {{ user.position }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary" form="updateSupervisorForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Модальное окно для изменения статуса -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить статус</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateStatusForm" action="{{ url_for('update_task_status', task_id=task.id) }}" method="post">
                    <div class="mb-3">
                        <label for="status_comment" class="form-label">Комментарий</label>
                        <textarea class="form-control" id="status_comment" name="status_comment" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        {% for status, label in available_statuses.items() %}
                        <button type="button" class="btn btn-primary" data-status="{{ status }}"
                                onclick="submitStatusForm('{{ status }}')">{{ label }}
                        </button>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
