{% for comment in task.comments %}
<div class="comment mb-3">
    <div>
        {% if comment.type == CommentType.error %}
        <i class="bi bi-exclamation-circle-fill text-danger"></i>
        {% elif comment.type == CommentType.comment %}
        <i class="bi bi-chat-dots"></i>
        {% elif comment.type == CommentType.status_change %}
        <i class="bi bi-arrow-left-right"></i>
        {% elif comment.type == CommentType.date_change %}
        <i class="bi bi-calendar"></i>
        {% elif comment.type == CommentType.user_change %}
        <i class="ri-user-shared-line"></i>
        {% endif %}

        <small class="utc-time" data-utc-time="{{ comment.time_updated.isoformat() }}">{{
            comment.time_updated.strftime('%d.%m.%y %H:%M') }}</small>

        {% if comment.user %}
        <strong data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{ comment.user.position }}">
            {{ comment.user.short_name }}
        </strong>
        {% if comment.author_roles %}
        <small>({{ comment.author_roles|join(', ') }})</small>
        {% endif %}
        {% endif %}

        {% if comment.type == CommentType.error %}
        <span class="text-danger">{{ comment.content }}</span>
        {% else %}
        <small>
            {% if comment.type == CommentType.status_change %}
            :: Статус "{{ Statuses[comment.previous_status].value }}" <i class="bi bi-arrow-right"/></i> "{{
            Statuses[comment.new_status].value }}"
            {% elif comment.type == CommentType.date_change %}
            :: Срок до "{{ comment.old_date.strftime('%d.%m.%Y') }}" <i class="bi bi-arrow-right"/></i> "{{
            comment.new_date.strftime('%d.%m.%Y') }}"
            ({% set diff = (comment.new_date - comment.old_date).days %}{% if diff > 0 %}+{% endif %}{{ diff }} дн.)
            {% elif comment.type == CommentType.user_change %}
            :: {{ "Исполнитель" if comment.extra_data['role'] == 'executor' else "Руководитель" }}
            "<span data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="{{ comment.extra_data['old_user']['position'] }}">{{ comment.extra_data['old_user']['name'] }}</span>"
            <i class="bi bi-arrow-right"/></i>
            "<span data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-original-title="{{ comment.extra_data['new_user']['position'] }}">{{ comment.extra_data['new_user']['name'] }}</span>"
            {% endif %}
        </small>
        {% endif %}
    </div>
    <div style="margin-left:20px">
        {% if comment.content %}
        {{ comment.content }}
        {% endif %}

        {% if comment.documents %}
        <div class="documents">
            <div class="d-flex flex-column">
                {% for document in comment.documents %}
                <div class="document-item"  >
                    <a href="/documents/{{ document.uuid }}" target="_blank">
                        {% if document.title.endswith('.pdf') %}
                        <i class="bi bi-file-earmark-pdf"></i>
                        {% elif document.title.endswith('.doc') or document.title.endswith('.docx') %}
                        <i class="bi bi-file-earmark-word"></i>
                        {% elif document.title.endswith('.xls') or document.title.endswith('.xlsx') %}
                        <i class="bi bi-file-earmark-excel"></i>
                        {% elif document.title.endswith('.ppt') or document.title.endswith('.pptx') %}
                        <i class="bi bi-file-earmark-ppt"></i>
                        {% elif document.title.endswith('.jpg') or document.title.endswith('.jpeg') or
                        document.title.endswith('.png') %}
                        <i class="bi bi-file-earmark-image"></i>
                        {% else %}
                        <i class="bi bi-file-earmark"></i>
                        {% endif %}
                        {{ document.title }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
