{% extends 'blank.html' %}

{% block content %}
<p class="lead">
    <strong>Постановщик:</strong>
    {% if task.supplier.telegram_link %}
    <a href="{{ task.supplier.telegram_link }}" target="_blank">{{ task.supplier.full_name }}</a>
    {% else %}
    {{ task.supplier.full_name }}
    {% endif %}
    – {{ task.supplier.position }}
</p>
<div class="row">
    <!-- Основные данные по задаче -->
    <div class="col-xl-5 col-lg-6 col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ task.description }}</h5>
                {% if task.important %}
                <p>
                    <span class="badge bg-warning text-dark"><i
                            class="bi bi-exclamation-triangle me-1"></i> Важная</span>
                </p>
                {% endif %}
                <p>
                    <strong>Объект:</strong> {{ task.object.name }}
                </p>
                <p>
                    <strong>Статус:</strong> {{ task.status.value }}
                    {% if can_change_status %}
                    <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#statusModal">
                        <i class="bi bi-box-arrow-in-up-right"></i>
                    </a>
                    {% endif %}
                </p>
                <p>
                    <strong>Срок до (включительно):</strong>
                    {{ task.formatted_plan_date }}
                    {% if permission.can_change_date %}
                    <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#updateDateModal">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    {% endif %}
                </p>
                <p>
                    <strong>Руководитель:</strong>
                    {% if task.supervisor.telegram_link %}
                    <a href="{{ task.supervisor.telegram_link }}" target="_blank">{{ task.supervisor.full_name }}</a>
                    {% else %}
                    {{ task.supervisor.full_name }}
                    {% endif %}
                    – {{ task.supervisor.position }}
                    {% if permission.is_supplier %}
                    <a href="#" class="text-decoration-none" data-bs-toggle="modal"
                       data-bs-target="#updateSupervisorModal">
                        <i class="ri-user-shared-line"></i>
                    </a>
                    {% endif %}
                </p>
                <p>
                    <strong>Исполнитель:</strong>
                    {% if task.executor.telegram_link %}
                    <a href="{{ task.executor.telegram_link }}" target="_blank">{{ task.executor.full_name }}</a>
                    {% else %}
                    {{ task.executor.full_name }}
                    {% endif %}
                    – {{ task.executor.position }}
                    {% if permission.is_supplier %}
                    <a href="#" class="text-decoration-none" data-bs-toggle="modal"
                       data-bs-target="#updateExecutorModal">
                        <i class="ri-user-shared-line"></i>
                    </a>
                    {% endif %}
                </p>

                {% if task.last_notification_date %}
                <p class="text-muted " style="font-size: 0.875rem;">
                    Последнее обновление в телеграм: {{ task.last_notification_date.strftime('%d.%m.%Y %H:%M') }}
                </p>
                {% endif %}
                <!-- Таблица переноса, доработок и уведомлений -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="word-break: break-all;">Переносы</th>
                        <th style="word-break: break-all;">Доработки</th>
                        <th style="word-break: break-all;">Уведомления</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ task.reschedule_count }}</td>
                        <td>{{ task.rework_count }}</td>
                        <td>{{ task.notification_count }}</td>
                    </tr>
                    </tbody>
                </table>

                {% if permission.is_supplier or permission.available_statuses %}
                <div class="d-flex flex-column flex-sm-row flex-md-row flex-lg-column flex-xxl-row align-items-stretch justify-content-end mt-3 gap-2">
                    {% if permission.available_statuses %}
                    <button type="button" class="btn btn-primary d-flex justify-content-center align-items-center"
                            data-bs-toggle="modal" data-bs-target="#statusModal">
                        <i class="bi bi-box-arrow-in-up-right me-2"></i> Сменить статус
                    </button>
                    {% endif %}


                    {% if permission.is_supplier and task.status != Statuses.DONE %}
                    {% if task.status == Statuses.CANCELED %}
                    <button type="submit" form="restoreForm" class="btn btn-warning">
                        Восстановить
                    </button>
                    <a href="{{ url_for('duplicate_task', task_id=task.id) }}" class="btn btn-secondary">
                        Пересоздать
                    </a>

                    <form id="restoreForm" action="{{ url_for('update_task_status', task_id=task.id) }}" method="post"
                          style="display: none;">
                        <input type="hidden" name="new_status" value="PLANNING"/>
                    </form>

                    {% else %}
                    <button type="submit" form="cancelForm" class="btn btn-danger">
                        Отменить
                    </button>
                    <a href="{{ url_for('duplicate_task', task_id=task.id) }}" class="btn btn-secondary">
                        Отменить и пересоздать
                    </a>
                    <form id="cancelForm" action="{{ url_for('update_task_status', task_id=task.id) }}" method="post"
                          style="display: none;">
                        <input type="hidden" name="new_status" value="CANCELED"/>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
                {% endif %}

            </div>
            <div class="card-footer">Создано: {{ task.time_created.strftime('%d.%m.%Y %H:%m') }}, обновлено: {{
                task.time_updated.strftime('%d.%m.%Y %H:%m') }}
            </div>
        </div>

        <!-- Форма для добавления комментариев -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Добавить комментарий</h5>
                <form action="{{ url_for('add_comment_web', task_id=task.id) }}" method="post"
                      enctype="multipart/form-data">
                    <div class="mb-3">
                        <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="files" class="form-label">Прикрепить файлы</label>
                        <input class="form-control" type="file" id="files" name="files" multiple/>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Список комментариев -->
    <div class="col-xl-7 col-lg-6 col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Комментарии</h5>
                {% include 'task_view_comments.html' %}
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для изменения даты -->
<div class="modal fade" id="updateDateModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить срок</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateDateForm" action="{{ url_for('update_plan_date', task_id=task.id) }}" method="post">
                    <div class="mb-3">
                        <label for="new_plan_date_modal" class="form-label">Новая плановая дата</label>
                        <input type="date" class="form-control" id="new_plan_date_modal" name="new_plan_date"
                               value="{{ task.actual_plan_date.strftime('%Y-%m-%d') }}" required/>
                    </div>
                    {% if permission.must_comment_date %}
                    <div class="mb-3">
                        <label for="executor_comment" class="form-label">Комментарий</label>
                        <textarea class="form-control" id="executor_comment" name="executor_comment" rows="3"
                                  required></textarea>
                        <div class="invalid-feedback">Комментарий обязателен для изменения даты.</div>
                    </div>
                    {% endif %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Не менять</button>
                <button type="submit" class="btn btn-primary" form="updateDateForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>

{% if permission.is_supplier %}
<!-- Модальное окно для изменения исполнителя -->
<div class="modal fade" id="updateExecutorModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить исполнителя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateExecutorForm" action="{{ url_for('update_role', task_id=task.id, role='executor') }}"
                      method="post">
                    <div class="mb-3">
                        <label for="new_executor_id" class="form-label">Новый исполнитель</label>
                        <select class="form-control" id="new_executor_id" name="new_user_id" required>
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user.full_name }} – {{ user.position }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Не менять</button>
                <button type="submit" class="btn btn-primary" form="updateExecutorForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для изменения руководителя -->
<div class="modal fade" id="updateSupervisorModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить руководителя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateSupervisorForm"
                      action="{{ url_for('update_role', task_id=task.id, role='supervisor') }}" method="post">
                    <div class="mb-3">
                        <label for="new_supervisor_id" class="form-label">Новый руководитель</label>
                        <select class="form-control" id="new_supervisor_id" name="new_user_id" required>
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user.full_name }} – {{ user.position }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Не менять</button>
                <button type="submit" class="btn btn-primary" form="updateSupervisorForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Модальное окно для изменения статуса -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить статус "{{ task.status.value }}"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="updateStatusForm" class="needs-validation"
                  action="{{ url_for('update_task_status', task_id=task.id) }}" method="post" novalidate>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="status_comment" class="form-label">Комментарий</label>
                        <textarea class="form-control" id="status_comment" name="status_comment" rows="3"></textarea>
                        <div class="invalid-feedback">Комментарий обязателен для выбранного статуса.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Не менять</button>
                    {% for status, label in available_statuses.items() %}
                    <button type="button" class="btn btn-primary" data-status="{{ status }}"
                            onclick="submitStatusForm('{{ status }}', '{{ label }}')">{{ label }}
                    </button>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function submitStatusForm(status, label) {
      var form = document.getElementById('updateStatusForm')
      var comment = document.getElementById('status_comment')
    
      if (['REWORK', 'REJECTED'].includes(status) && comment.value.trim() === '') {
        comment.classList.add('is-invalid')
        return
      } else {
        comment.classList.remove('is-invalid')
      }
    
      var input = document.createElement('input')
      input.type = 'hidden'
      input.name = 'new_status'
      input.value = status
      form.appendChild(input)
      form.submit()
    }
</script>
{% endblock %}
